# Build More Classification Models

In [104]:
import pandas as pd

cuisines_df = pd.read_csv('/Users/robbiewoolterton/Documents/GitHub/ML-For-Beginners/4-Classification/data/cleaned_cuisine.csv')
cuisines_df.head()

,Unnamed: 0,cuisine,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,indian,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [105]:
cuisines_label_df = cuisines_df['cuisine']
cuisines_label_df.head()

0    indian
1    indian
2    indian
3    indian
4    indian
Name: cuisine, dtype: object

In [106]:
cuisines_feature_df = cuisines_df.drop(['Unnamed: 0', 'cuisine'], axis=1)
cuisines_feature_df.head()

,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,artichoke,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [107]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score,precision_score,confusion_matrix,classification_report, precision_recall_curve
import numpy as np

In [108]:
X_train, X_test, y_train, y_test = train_test_split(cuisines_feature_df, cuisines_label_df, test_size=0.3)

In [113]:
C = 10
classifiers = {
    'Linear SVC': SVC(kernel='linear', C=C, probability=True, random_state=0),
    'KNN Classifier': KNeighborsClassifier(C),
    'SVC': SVC(),
    'RFST': RandomForestClassifier(n_estimators=100),
    'ADA': AdaBoostClassifier(n_estimators=100)
}

In [114]:
n_classifiers = len(classifiers)

for index, (name, classifier) in enumerate(classifiers.items()):
    classifier.fit(X_train, np.ravel(y_train))

    y_pred = classifier.predict(X_test)

    accuracy = accuracy_score(y_test, y_pred)
    print(f"Accuracy for {name} = {accuracy :.3%}")
    print(classification_report(y_test, y_pred))

Accuracy for Linear SVC = 77.064%
              precision    recall  f1-score   support

     chinese       0.68      0.67      0.68       247
      indian       0.86      0.92      0.89       244
    japanese       0.73      0.74      0.74       227
      korean       0.81      0.73      0.77       252
        thai       0.76      0.79      0.78       229

    accuracy                           0.77      1199
   macro avg       0.77      0.77      0.77      1199
weighted avg       0.77      0.77      0.77      1199

Accuracy for KNN Classifier = 70.642%
              precision    recall  f1-score   support

     chinese       0.66      0.64      0.65       247
      indian       0.81      0.79      0.80       244
    japanese       0.61      0.81      0.70       227
      korean       0.94      0.54      0.69       252
        thai       0.64      0.76      0.69       229

    accuracy                           0.71      1199
   macro avg       0.73      0.71      0.71      1199
weighted avg       0.74      0.71      0.71      1199

Accuracy for SVC = 80.400%
              precision    recall  f1-score   support

     chinese       0.73      0.72      0.72       247
      indian       0.91      0.91      0.91       244
    japanese       0.77      0.80      0.78       227
      korean       0.90      0.74      0.81       252
        thai       0.73      0.86      0.79       229

    accuracy                           0.80      1199
   macro avg       0.81      0.81      0.80      1199
weighted avg       0.81      0.80      0.80      1199

Accuracy for RFST = 83.319%
              precision    recall  f1-score   support

     chinese       0.80      0.75      0.77       247
      indian       0.90      0.93      0.92       244
    japanese       0.81      0.82      0.81       227
      korean       0.88      0.78      0.83       252
        thai       0.78      0.89      0.83       229

    accuracy                           0.83      1199
   macro avg       0.83      0.83      0.83      1199
weighted avg       0.83      0.83      0.83      1199

Accuracy for ADA = 66.472%
              precision    recall  f1-score   support

     chinese       0.60      0.32      0.41       247
      indian       0.85      0.81      0.83       244
    japanese       0.65      0.70      0.67       227
      korean       0.62      0.78      0.69       252
        thai       0.60      0.73      0.66       229

    accuracy                           0.66      1199
   macro avg       0.67      0.67      0.65      1199
weighted avg       0.67      0.66      0.65      1199